{% include header.html %}

{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center">
    {% include masthead.html metadata=true %}

    <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
      {{ content }}
    </div>
    <div class="my-6">
      <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Personal Information</h2>
        <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">My personal information and experience.</p>
        <table width=850px>
		<tr>
			<td>
				I am a research assistant at UC San Diego, working with <a  style="color: darkblue" href='https://kennethcwilbur.github.io/website/'>Professor Kenneth Wilbur</a> on business analytics. I am also working as a research assistant at UC Riverside with <a  style="color: darkblue" href='http://www.mingyujoo.com'>Professor Mingyu (Max) Joo</a>.
			</td>

		</tr>
			<tr height=10px></tr>
		<tr>
			<td>
				I got intern experience at Walmart, supervised by <a  style="color: darkblue" href="https://www.linkedin.com/in/tom-tang-0826861/">Tom Tang</a>, and Targeted Solutions Inc, supervised by Samuel Stone.
			</td>
		</tr>
					<tr height=10px></tr>
		<tr>
			<td>
				I recently graduated from Northeastern University(CN) with a Bachelor's degree. I was a visiting student at UC Berkeley for 2020 Spring semester and Mcgill University of Canada for 2019 Summer.
			</td>
		</tr>
					<tr height=10px></tr>
		<tr>
			<td>
				I am applying to graduate programs in United States.
				I major in computer science (field: software engineering) and am broadly interested in data science and business analytics. I acquire strong technical skills required for these fields and obsess excellent reasoning ability.
		</tr>
          <tr><a href="https://xinrantang.github.io/personal_info/">Go to my personal information page.</a></tr>
	</table>
    </div>

    <div class="my-6">
      {% include projects.html %}
    </div>

    {% if site.topics %}
      <div class="my-6">
        {% include interests.html %}
      </div>
    {% endif %}

    {% unless posts_total == 0 %}
      <div class="my-6">
        {% include thoughts.html %}
      </div>
    {% endunless %}
  </div>
{% else %}
  <div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">
    <div class="flex-self-stretch {% if site.style == 'dark' %}bg-gray-dark{% else %}border-md-right border-gray-light bg-white{% endif %} col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
      {% include masthead.html metadata=true %}
    </div>

    <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
      <div class="mx-auto" style="max-width: 900px;">
        {% unless content == ""  %}
          <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
            {{ content }}
          </div>
        {% endunless %}

        {% include projects.html %}

        {% if site.topics %}
          {% include interests.html %}
        {% endif %}

        {% unless posts_total == 0 %}
          {% include thoughts.html %}
        {% endunless %}
      </div>
    </div>
  </div>
{% endif %}

{% include footer.html %}
